apiVersion: templates.gatekeeper.sh/v1
kind: ConstraintTemplate
metadata:
  name: k8scontainerratios
  annotations:
    metadata.gatekeeper.sh/title: "Container Ratios"
    metadata.gatekeeper.sh/version: 1.0.1
    description: >-
      Sets a maximum ratio for container resource limits to requests.

      https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
spec:
  crd:
    spec:
      names:
        kind: K8sContainerRatios
      validation:
        openAPIV3Schema:
          type: object
          properties:
            exemptImages:
              description: >-
                Any container that uses an image that matches an entry in this list will be excluded
                from enforcement. Prefix-matching can be signified with `*`. For example: `my-image-*`.

                It is recommended that users use the fully-qualified Docker image name (e.g. start with a domain name)
                in order to avoid unexpectedly exempting images from an untrusted repository.
              type: array
              items:
                type: string
            ratio:
              type: string
              description: >-
                The maximum allowed ratio of `resources.limits` to
                `resources.requests` on a container.
            cpuRatio:
              type: string
              description: >-
                The maximum allowed ratio of `resources.limits.cpu` to
                `resources.requests.cpu` on a container. If not specified,
                equal to `ratio`.
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
{{ file.Read "src/general/containerresourceratios/src.rego" | strings.Indent 8 | strings.TrimSuffix "\n" }}
      libs:
        - |
{{ file.Read "src/general/containerresourceratios/lib_exempt_container.rego" | strings.Indent 10 | strings.TrimSuffix "\n" }}
