apiVersion: templates.gatekeeper.sh/v1
kind: ConstraintTemplate
metadata:
  name: k8sknativereplica
  annotations:
    metadata.gatekeeper.sh/title: "Knative Replica Limits"
    metadata.gatekeeper.sh/version: 1.0.0
    description: >-
      Requires that knative service objects with the field `annotations.xxxScale` specify a number of replicas within defined ranges.
spec:
  crd:
    spec:
      names:
        kind: K8sKnativeReplica
      validation:
        # Schema for the `parameters` field
        openAPIV3Schema:
          type: object
          properties:
            replicas:
              type: integer
              description: Allowed value for max numbers of replicas. 
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
{{ file.Read "src/general/replicasknative/src.rego" | strings.Indent 8 | strings.TrimSuffix "\n" }}      