name: scripts
on:
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/scripts.yaml"
      - "scripts/**"
permissions:
  contents: read

concurrency:
  group: '$${{ github.workflow }}-$${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: [artifacthub, require-sync, validate, website]
    steps:
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.20'
          cache: false
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.1.0
          working-directory: scripts/${{ matrix.folder }}
