name: CI
on:
  push:
    paths-ignore:
      - ".github/workflows/website.yaml"
      - "website/**"
    branches: [master]
  pull_request:
    paths-ignore:
      - ".github/workflows/website.yaml"
      - "website/**"
    branches: [master]
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate templates and docs
        run: |
          make generate generate-website-docs
          git diff --exit-code || (echo "Please run 'make generate generate-website-docs' to generate the templates and docs" && exit 1)

  build:
    needs: generate
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ "ubuntu-latest", "macos-latest" ]
        opa: [ "v0.42.2" ]
    name: Unit test on ${{ matrix.os }} opa ${{ matrix.opa }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          binary=$([[ "$OSTYPE" == "darwin"* ]] && echo "opa_darwin_amd64" || echo "opa_linux_amd64")
          sudo curl -L -o /usr/local/bin/opa https://github.com/open-policy-agent/opa/releases/download/${{ matrix.opa }}/$binary
          sudo chmod +x /usr/local/bin/opa
          sh test.sh

  build_test:
    needs: generate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gatekeeper: [ "release-3.8", "release-3.9" ]
    name: "Integration test on Gatekeeper ${{ matrix.gatekeeper }}"
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Bootstrap integration test
        run: |
          mkdir -p $GITHUB_WORKSPACE/bin
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
          make integration-bootstrap
          make deploy GATEKEEPER_VERSION=${{ matrix.gatekeeper }}

      - name: Run integration test
        run: |
          make test-integration

      - name: Save logs
        run: |
          kubectl logs -n gatekeeper-system -l control-plane=controller-manager --tail=-1 > logs-controller.json
          kubectl logs -n gatekeeper-system -l control-plane=audit-controller --tail=-1 > logs-audit.json

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: logs
          path: |
            logs-*.json
  require_suites:
    runs-on: ubuntu-latest
    name: "Require a suite.yaml file alongside every template.yaml"
    steps:
      - uses: actions/checkout@v2
      - name: Run script
        run: |
          make require-suites
  gator-verify:
    runs-on: ubuntu-latest
    name: "Verify assertions in suite.yaml files"
    steps:
      - uses: actions/checkout@v2
      - run: |
          make verify-gator-dockerized
